@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-beige: #EDE5CC;
  --color-brown: #3D1700;
  --color-gold: #D4942D;

  --color-primary: var(--color-brown);
  --color-secondary: var(--color-gold);
  --color-accent: var(--color-beige);

  --font-wendy: 'Wendy One', sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    font-family: var(--font-wendy);
    @apply bg-beige text-brown;
  }

  h1, h2, h3, h4 {
    font-family: var(--font-wendy);
  }

  .swiper-wrapper {
    transition-timing-function: ease-in-out !important;
  }

  @keyframes slowBounce {
      0%, 100% {
        transform: translateY(0);
        animation-timing-function: ease-in-out;
      }
      50% {
        transform: translateY(-25px);
        animation-timing-function: ease-in-out;
      }
    }
    .slow-bounce {
      animation: slowBounce 3s ease-in-out infinite;
    }
}

@layer components {
  .container {
    @apply max-w-6xl py-8 mx-auto flex flex-col-reverse lg:flex-row items-center gap-14;
  }

  .offer-paragraph {
    @apply text-lg md:text-xl font-semibold bg-gray-900 text-white text-center px-4;
  }

  .btn-custom {
    @apply px-6 py-3 bg-brown text-beige font-medium rounded-full hover:text-gold hover:bg-gray-900 transition-all duration-300;
  }
}

@source "../../../**/*.{html,py,js}";
