@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-beige: #EDE5CC;
  --color-brown: #3D1700;
  --color-gold: #D4942D;

  --color-primary: var(--color-brown);
  --color-secondary: var(--color-gold);
  --color-accent: var(--color-beige);

  --font-arvo: 'Arvo', serif;

  --animate-slow-bounce: slowBounce 3s ease-in-out infinite;
  --animate-slow-bounce-delayed: slowBounce 3.5s ease-in-out 0.5s infinite;
  --animate-slow-bounce-slower: slowBounce 4s ease-in-out 1.2s infinite;

  @keyframes slowBounce {
      0%, 100% { transform: translateY(0); }
      50% { transform: translateY(-20px); }
  }
}

@layer base {
  h1, h2, h3, h4, h5, h6 { 
    font-family: var(--font-arvo);
  }
}

@source "../../../**/*.{html,py,js}";
